/*
 * STYLING BARU:
 * Menggunakan font Inter bawaan Tailwind
 */
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

.canvas-container {
  border-radius: 0.5rem;
  width: 100%;
  max-width: 1280px;
  aspect-ratio: 16 / 9;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  /* STYLING BARU: Border lebih gelap */
  border: 1px solid #374151; /* border-gray-700 */
}

canvas {
  width: 100%;
  height: 100%;
  /* STYLING BARU: Kanvas akan menjadi putih, kontras dengan UI gelap */
}

/* Sembunyikan input file asli */
#upload-image-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* Style untuk label input file agar terlihat seperti tombol */
#upload-label {
  cursor: pointer;
}
